.chat-container{
    height: 100%;
    width: 100%;
}

.placeholder{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.placeholder p{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 200;
}

.placeholder img{
    height: 60px;
}