.rightbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
  border: 1px solid white;
}

.rightbar-top {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background: transparent;
  z-index: 10;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

.selected-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.selected-info h3 {
  margin: 0;
}

.selected-info span.online {
  color: green;
}

.selected-info span.offline {
  color: red;
}

.message-area {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: none;
  height: 0; 
  max-height: calc(80vh - 160px)
}
.message-area::-webkit-scrollbar {
  width: 6px;
}

.message-card {
  max-width: 60%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  background: #f1f1f1;
  position: relative;
}

.message-card.sent {
  background: #dcf8c6;
  margin-left: auto;
  text-align: right;
}

.message-card.received {
  background: #fff;
  margin-right: auto;
  text-align: left;
}

.message-input {
  padding: 10px;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;

}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.message-input button {
  background: none;
  border: 1px solid white;
  margin-left: 10px;
  color: white;
  width: 20%;
}
