.profile-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    height: 80vh;
    width: 80vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form h2{
    color: white;
}

.full{
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid white;
    width: 100%;
}

.file{
    padding: 10px;
}
form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px ;
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
label{
    color: white;
    text-align: 25px;
}

form button{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

form button:hover{
    transform: scale(1.05);
    transition: 1.05s;
}